<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <form action="/link/del/{{ link.id }}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="text" name="long_url" placeholder="URL" value="{{ link.long_url }}">
        <input type="text" name="short_url" placeholder="short url" value="{{ link.short_url }}">
        <button type="submit">submit</button>
    </form>
</body>
</html>