<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL Shortener</title>
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-spacing: 0;
        }
        td, th {
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>List URL Shortener</h1>
    <form method="POST" action="{{ url_for('index') }}">
        <input type="text" name="long_url" placeholder="Enter the long URL">
        <button type="submit" name="short_url">Shorten</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Link</th>
                <th>Short</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
            <tr>
                <td>{{ link.id }}</td>
                <td>
                    <a href="{{ link.long_url }}" target="_blank">{{ link.long_url }}</a>
                </td>
                <td>
                    <a href="/link/{{ link.short_url }}" target="_blank">{{ link.short_url }}</a>
                </td>
                <td>
                    <a href="/link/{{ link.id }}">Update</a>
                </td>
                <td>
                    <a href="/link/del/{{ link.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>